language: go
go:
  - 1.13.x
git:
  depth: 1
notifications:
  email:
    on_success: never
env:
  GO111MODULE=on
stages:
  - test
  - publish_latest
  - release
jobs:
  include:
    - stage: test
      before_install:
        - wget -O toxiproxy-2.1.4.deb https://github.com/Shopify/toxiproxy/releases/download/v2.1.4/toxiproxy_2.1.4_amd64.deb
        - sudo dpkg -i toxiproxy-2.1.4.deb
        - sudo cp ws/toxiproxy.service /lib/systemd/system/
        - sudo systemctl toxiproxy start
      script:
        - go build ./...
        - go get golang.org/x/tools/cmd/cover
        - go get github.com/mattn/goveralls
        - go test ./ws ./ocppj -v -covermode=count -coverprofile=coverage.out
        - go test -v -covermode=count -coverprofile=ocpp16.out -coverpkg=github.com/lorenzodonini/ocpp-go/ocpp1.6/... github.com/lorenzodonini/ocpp-go/ocpp1.6_test
        - go test -v -covermode=count -coverprofile=ocpp20.out -coverpkg=github.com/lorenzodonini/ocpp-go/ocpp2.0/... github.com/lorenzodonini/ocpp-go/ocpp2.0_test
        - sed '1d;$d' ocpp16.out >> coverage.out
        - sed '1d;$d' ocpp20.out >> coverage.out
        - goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
    - stage: publish_latest
      script:
        - docker build -t ldonini/ocpp1.6-central-system:latest -f example/1.6/cs/Dockerfile .
        - docker build -t ldonini/ocpp1.6-charge-point:latest -f example/1.6/cp/Dockerfile .
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker push ldonini/ocpp1.6-central-system:latest
        - docker push ldonini/ocpp1.6-charge-point:latest
      if: branch == master
    - stage: release
      script:
        - docker build -t "ldonini/ocpp1.6-central-system:$TRAVIS_TAG" -f example/1.6/cs/Dockerfile .
        - docker build -t "ldonini/ocpp1.6-charge-point:$TRAVIS_TAG" -f example/1.6/cp/Dockerfile .
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker push "ldonini/ocpp1.6-central-system:$TRAVIS_TAG"
        - docker push "ldonini/ocpp1.6-charge-point:$TRAVIS_TAG"
      if: tag IS present
